/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

const trustedDomains = {
    default: {
        oidcDomains: ['${NEXT_PUBLIC_ZITADEL_AUTHORITY_URL}'],
        accessTokenDomains: ['${NEXT_PUBLIC_XPANSE_API_URL}'],
    },
};
